body{
    color: white;
    font-family: 'Lora', serif;
}

p{
    font-family: 'Lora', serif !important;
}

.main{
    margin:  8% auto;
    padding: 10px;
}

#overlay {
    position: absolute; 
    width: 100%; 
    height: 100vh;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image:linear-gradient(to bottom, rgba(26, 22, 25, 0.73), rgba(48, 20, 41, 0.73)),
    url('./asset/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: -1; 
  }

  h1{
    font-size: 80px !important;
    font-weight: 600 !important;
    font-family: 'Lora', serif !important;
  }


.center-div{
    margin: 10% auto;
    color: white;
}

button{
    border: 2px solid rgb(215, 206, 248) !important;
    color: rgb(215, 206, 248) !important;
    width: 200px !important;
}

button:hover{
    background-color: rgb(198, 174, 253) !important;
    color: rgb(27, 25, 34) !important;
}

.center-button{
    margin: 0 auto !important;
    width: 500px;
}